@model IEnumerable<Vehicle>

@{
    var userLogin = base.Context.User.Identity!.Name;

    var title = userLogin + "'s " + "Vehicles";

    ViewData["Title"] = title;
}

<h1>@ViewData["Title"]</h1>

<a asp-controller="Vehicle" asp-action="Index">All vehicles</a>

<div class="vehicles-container">
    @foreach (var vehicle in Model)
    {
        <div class="vehicle-info">
            <a asp-controller="Vehicle" asp-action="Details" asp-route-id="@vehicle.Id">
                <div>
                    @if (@vehicle.ImageUrl is not null)
                    {
                        <img src="@vehicle.ImageUrl" alt="image of car" />
                    }
                    <p><b><i>@vehicle.BrandName @vehicle.ModelName</i></b></p>
                    <p><i>@vehicle.Price$, @vehicle.EngineVolume sm<sup>3</sup></i></p>
                </div>
            </a>
            <a asp-controller="Vehicle" asp-action="Update" asp-route-id="@vehicle.Id">
                <i class="fa fa-refresh" style="font-size:24px"></i>
            </a>
            <a asp-controller="Vehicle" asp-action="Delete" onclick="deleteVehicle(@vehicle.Id)">
                <i class="fa fa-trash" style="font-size:24px"></i>
            </a>
        </div>
    }
</div>

<script src="~js/VehicleOperations.js"></script>